canvas {
  box-shadow: black 0px 0px 10px;
}

.pageContainer {
  margin: 10px auto;
}

.pageView {
  position: relative;
}

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

.textLayer > div {
  color: transparent;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}

.textLayer > div::selection {
  background:rgba(0,0,255,0.3);
}
.textLayer > div::-moz-selection {
  background:rgba(0,0,255,0.3);
}
